body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF90BB;
  font-family: Arial, sans-serif;
}

.yes-card {
  background: #FFFDF1;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.yes-card img {
  width: 280px;
  margin: 20px 0;
}

.cat-gif {
  width: 250px;
  animation: beg 1.2s infinite ease-in-out;
}

@keyframes beg {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-10px) rotate(-5deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.yes-card, .question-card {
  background-color: #FFFDF1; /* pink card */
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  color: rgb(235, 8, 8); /* text color inside card */
}

#questionContent {
  display: none;
  text-align: center;
  margin-top: 30px;
}


.options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.option {
  cursor: pointer;
  text-align: center;
}

.option-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #FF52A0;
  transition: transform 0.2s;
}

.option:hover .option-img {
  transform: scale(1.05);
}

#confirmContent {
  display: none;
}

.video-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 80%;          /* smaller than full screen */
  max-width: 600px;    /* maximum width */
}

.video-container video {
  width: 100%;          /* fills container */
  height: auto;         /* maintain aspect ratio */
  border-radius: 20px;
}

#closeVideo {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.summary-pic {
  width: 400px;
  border-radius: 16px;
  margin: 20px auto;   /* auto centers it */
      /* important for centering */
}

#backBtn {
  display: block;          /* makes it centerable */
  margin: 20px auto 0;     /* centers horizontally */
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #FF52A0;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

#backBtn:hover {
  transform: scale(1.05);
}

.option.selected .option-img {
  border: 4px solid #ff1493;
  transform: scale(1.05);
}